<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JspApp3-AllScriptingsTags</display-name>
  
   <servlet>
      <servlet-name>all</servlet-name>
      <jsp-file>/WEB-INF/pages/all_scripting.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>all</servlet-name>
       <url-pattern>/scripting</url-pattern>
   </servlet-mapping>
   
   <context-param>
       <param-name>c1</param-name>
       <param-value>val1</param-value>
   </context-param>
   
    <servlet>
      <servlet-name>t</servlet-name>
      <jsp-file>/test.jsp</jsp-file>
      <init-param>
          <param-name>p1</param-name>
          <param-value>val2</param-value>
      </init-param>
      
   </servlet>
   <servlet-mapping>
       <servlet-name>t</servlet-name>
       <url-pattern>/testurl</url-pattern>
   </servlet-mapping>

 </web-app>